In [34]:
# Necessary imports
import pandas as pd

# from IPython.core.display import display, HTML
# display(HTML("<style>.container { width:100% !important; }</style>"))

ng=pd.read_csv('NGC.csv', low_memory=False)
ms=pd.read_csv('messier_objects.csv', low_memory=False)
cb=pd.read_csv('constellation_borders.csv', low_memory=False)
ty=pd.read_csv('tycho-1.csv', low_memory=False)
nng=pd.read_csv('newNGC.csv', low_memory=False)

## NGC

In [69]:
# print(ng.to_string())
display(ng)
print('empty mag:', ng['V'].isna().sum())
print('empty type:', ng['V'].isna().sum())
print('max mag:', ng['V'].max())
print('min mag:', ng['V'].min())
print('lowest declination:',ng['DEJ2000'].min())
print('highest declination:',ng['DEJ2000'].max())

,Internal ID Number,Name,Common Name,Type,Constellation,V,RAJ2000,DEJ2000
0,Gal_And_IC 5370,IC 5370,NaN,Gal,Andromeda,15.0,0.0253,32.7500
1,notype_And_IC 5371,IC 5371,NaN,-,Andromeda,NaN,0.0503,32.8166
2,notype_Cas_NGC 7801,NGC 7801,NaN,-,Cassiopeia,NaN,0.1004,50.6999
3,Gal_And_IC 5372,IC 5372,NaN,Gal,Andromeda,15.0,0.1003,32.7833
4,Gal_And_IC 5373,IC 5373,NaN,Gal,Andromeda,15.0,0.1003,32.7833
...,...,...,...,...,...,...,...,...
13221,Gal_And_IC 1525,IC 1525,NaN,Gal,Andromeda,NaN,359.8504,46.8999
13222,Gal_Peg_NGC 7799,NGC 7799,NaN,Gal,Pegasus,NaN,359.8753,31.2833
13223,Gal_Peg_NGC 7800,NGC 7800,NaN,Gal,Pegasus,13.0,359.9003,14.8167
13224,Gal_Cet_NGC 7807,NGC 7807,NaN,Gal,Cetus,NaN,359.9003,-18.8500
13225,notype_And_IC 5369,IC 5369,NaN,-,Andromeda,NaN,359.9503,32.6833

empty mag: 5460
empty type: 5460
max mag: 18.0
min mag: 1.9
lowest declination: -89.3332
highest declination: 89.1168

## Messiers

In [68]:
display(ms)
print('empty mag:', ms['V (from SEDS)'].isna().sum())
print('empty type:', ms['TYPE'].isna().sum())
print('max mag:', ms['V (from SEDS)'].max())
print('min mag:', ms['V (from SEDS)'].min())
print('lowest declination:',ms['DEJ2000'].min())
print('highest declination:',ms['DEJ2000'].max())

,Internal ID Number,ID (for resolver),MAIN_ID,Common Name,TYPE,Constellation,RAJ2000,DEJ2000,V (from SEDS),V,B-V
0,SNR_Tau_M1,M 1,M 1,Crab Nebula,SNR,Taurus,83.633080,22.014500,8.4,NaN,NaN
1,GlC_Aqr_M2,M 2,M 2,-,GlC,Aquarius,323.362580,-0.823250,6.5,6.25,NaN
2,GlC_CVn_M3,M 3,M 3,-,GlC,Canes Venatici,205.548420,28.377280,6.2,6.39,NaN
3,GlC_Sco_M4,M 4,M 4,-,GlC,Scorpius,245.896750,-26.525750,5.6,NaN,NaN
4,GlC_Ser_M5,M 5,M 5,-,GlC,Serpens,229.638420,2.081030,5.6,5.95,1.39
...,...,...,...,...,...,...,...,...,...,...,...
105,Sy2_CVn_M106,M 106,M 106,-,Sy2,Canes Venatici,184.740083,47.303719,8.4,8.41,0.73
106,GlC_Oph_M107,M 107,M 107,-,GlC,Ophiucus,248.132750,-13.053780,7.9,8.85,1.11
107,SBG_UMa_M108,M 108,M 108,-,SBG,Ursa Major,167.879029,55.674122,10.0,NaN,NaN
108,GiG_UMa_M109,M 109,M 109,-,GiG,Ursa Major,179.399933,53.374519,9.8,NaN,NaN
109,GiG_And_M110,M 110,M 110,-,GiG,Andromeda,10.091894,41.685416,8.5,8.07,0.85

empty mag: 0
empty type: 0
max mag: 10.2
min mag: 1.6
lowest declination: -34.793
highest declination: 69.679703

## Unique object types in NGC and Messier Catalogue

In [5]:
print(ng['Type'].unique())
print(ms['TYPE'].unique())

['Gal' '-' 'Nb' 'Str' 'Ast' 'PN' 'GlC' 'OpC' 'D*?' 'C+N' 'Kt' 'PD' '*?']
['SNR' 'GlC' 'OpC' 'HII' 'As*' 'PN' 'G' 'IG' 'GiG' 'mul' 'Sy2' 'GiP' 'SyG'
 'LIN' 'Cl*' 'RNe' 'SBG' 'BiC' 'H2G' 'AGN']

## Grouping similar type objects; for plotting

CLUSTERS: YELLOW CIRCLES
>from MESSIER 
GlC globular cluster
OpC open cluster
Cl* cluster of stars
>from NGC 2+1
GlC globular
OpC open
C+N

GALAXIES: RED ELLIPSES
>from MESSIER
G galaxy
IG interacting galaxies
GiG galaxy in group of galaxies
SBG starburst galaxy
BiC brightest galaxy in a cluster
H2G hii galaxy
Sy2 syfert 2 galaxy
GiP galaxy in pair of galaxies
SyG seyfert galaxy
>from NGC
Gal galaxy

NEBULA and SNR: GREEN CIRCLES WITH PLUS
>from MESSIER
PN planetory nebula
RNe reflection nebula
HII hii region
SNR supernova remnamt
>from NGC 
PN planetory nebula
Kt knot or nebulous region in an external galaxy
Nb bright emission or reflection nebula

OTHER MESSIERS: RED PLUS
As* assoc of stars
mul composite object
LIN agn
AGN agn

OTHERS from NGC; BLUE PLUS
D*? double star
PD photographic plate defect    X not plotted
*? single star
- non existent in RNGC    X not plotted
Ast asterism or group of a few stars
Str 

TYCHO: BLACK CIRCLES
CST BORDERS: LIME CIRCLES

## Constellation borders

In [7]:
display(cb)

          RAJ2000    DEJ2000 Constellation
0      353.035698  35.189774     Andromeda
1      352.027387  35.188026     Andromeda
2      351.018963  35.186070     Andromeda
3      350.010539  35.183899     Andromeda
4      349.002342  35.181519     Andromeda
...           ...        ...           ...
13034  291.873809  19.418251     Vulpecula
13035  290.872306  19.406878     Vulpecula
13036  290.121288  19.398298       Sagitta
13037  290.108328  20.398224       Sagitta
13038  290.096311  21.314815     Vulpecula

[13039 rows x 3 columns]

## Tycho-1 Catalogue

In [41]:
print('empty mag:', ty['V'].isna().sum())
print('empty name:', ty['Name'].isna().sum())
print('max mag:', ty['V'].max())
print('min mag:', ty['V'].min())
display(ty)

empty mag: 0
empty name: 131418
max mag: 9.0
min mag: -1.44

,Unnamed: 0,Internal ID Number,Name,Constellation,Bayer,HIP,TYC,HD,RAJ2000,DEJ2000,V,B-V
0,0,Str_CMa_00000001,Sirius,Canis Major,alf CMa,32349.0,5949 2777 1,NaN,101.288541,-16.713143,-1.44,NaN
1,1,Str_Car_00000002,Canopus,Carina,alf Car,30438.0,8534 2277 1,45348.0,95.987951,-52.695650,-0.63,0.173
2,2,Str_Cen_00000003,Rigil Kentaurus,Centaurus,alf Cen,71683.0,9007 5849 1,NaN,219.920410,-60.835147,-0.01,NaN
3,3,Str_Lyr_00000004,Vega,Lyra,alf Lyr,91262.0,3105 2070 1,NaN,279.234108,38.782993,0.03,NaN
4,4,Str_Aur_00000005,Capella,Auriga,alf Aur,24608.0,3358 3141 1,NaN,79.172065,45.999029,0.08,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
131750,126773,Str_Oct_00131751,NaN,Octans,NaN,NaN,9483 884 1,210603.0,334.399923,-80.457980,9.00,1.090
131751,126774,Str_Oct_00131752,NaN,Octans,NaN,NaN,9491 2344 1,15077.0,33.956439,-82.513460,9.00,0.109
131752,126775,Str_Oct_00131753,NaN,Octans,NaN,NaN,9523 1627 1,177591.0,291.438901,-83.996763,9.00,1.710
131753,126776,Str_Oct_00131754,NaN,Octans,NaN,NaN,9530 335 1,144357.0,252.620603,-87.522772,9.00,0.421
131754,126777,Str_Oct_00131755,NaN,Octans,NaN,NaN,9531 1204 1,177127.0,294.631948,-86.490069,9.00,0.948

In [42]:
ty[ty['HIP']==98036]

,Unnamed: 0,Internal ID Number,Name,Constellation,Bayer,HIP,TYC,HD,RAJ2000,DEJ2000,V,B-V
361,361,Str_Aql_00000362,Alshain,Aquila,bet Aql,98036.0,493 3355 1,188512.0,298.828314,6.40679,3.72,0.853

In [70]:
d={}

In [72]:
d['hello']=[]

In [80]:
d['hello'].append([2,4])

In [82]:
d['hello']

[(2, 4), [2, 4]]

In [87]:
type(d['hello'][1])

list